.profile-card {
    width: 300px;
    background-color: white;
    text-align: center;
    margin: 100px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    h2 {text-align: center;}